.layout-page {
    height: 100vh;
    width: 100vw;
    /* background-color: #32C7AB; */
    background-image: url("../../assets/background.svg");
    background-size: cover;

}

.layout-page > .layout-page-left {
    margin: 0;
    padding: 0;
    height: 100%;
    /* width: 60%; */
    /* background-color: white; */
}

.layout-page-left > .row-custom {
    margin: 0;
    width: 100%;
    height: calc(100% - 56px);
}

.layout-page-left > .row-custom > .form-page {
    height: 100%;
    width: 100%;
    /* background-color: white; */
    
    padding: 0;
}

.layout-title {
    margin-left: 20px;
    padding-top: 10px;
    font-size: 26px;
    font-weight: bold;
    height: 40px;
}

.layout-title-color {
    color: #32C7AB;
}

.container {
    /* background-color: white; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}